<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <div id="chat-container">
                <div id="chat-window">
                   
                       
                       <h1>Microservicio Notificaciones</h1>
                    
                </div>
            </div>
        </div>
    </header>
</main>